@import "sass_scripts";

.best{
  padding-top: 47px;
  padding-bottom: 28px;
  .best_text{
    h3{
      @include readex_font;
      color:$main_color;
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 9px;
    }
    p{
      @include readex_font;
      color:$main_color;
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 56px;
    }
  }
  .box{
    background: #F8F9FA;
    border-radius: 16px;
    max-width: 413px;
    padding-top: 41px;
    p{
      @include readex_font;
      color:$main_color;
      font-size: 13px;
      line-height: 17px;
    }
    h4{
      @include readex_font;
      color:$main_color;
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 44px;
    }
    a{
      text-decoration: none;
      @include inter_font;
      color:$main_color;
      font-size: 18px;
      line-height: 22px;
      padding: 14px 63px;
      border: 1px solid #000000;
      border-radius: 200px;
      &:hover{
        font-size: 20px;
        color: white;
        background-color: #151515;
      }
    }
    &:first-of-type{
      .box_img{
        margin: 44px 77px 0 77px;
      }
    }
    &:nth-child(2){
      .box_img{
        margin: 44px 60px 0 59px;
      }
    }
    &:last-of-type{
      .box_img{
        margin: 44px 29px 0 29px;
      }
    }
  }

}